body {
  background-image: url("./Images/background.jpg");
  object-fit: contain;
  font-family: sans-serif;
  color: white;
}
.nav-bar {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.nav-bar a {
  color: white;
  text-decoration: none;
  margin-left: 50px;
}

.nav-bar img.logo {
  object-fit: contain;
  width: 150px;
}

/* .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
} */
.search-elips-wrapper {
  /* This class is added in HTML just to give proper spacing to the  icon beside search bar */
  /* border: 1px solid red; */
  width: 200px;
}
.search-elips-wrapper i {
  margin-left: 10px;
}
.search-elips-wrapper input {
  border: 2px solid #00af80;
  border-radius: 10px;
  height: 20px;
  background-color: inherit;
  color: white;
}
#search-bar::placeholder {
  color: white;
  text-align: right;
}

/* Section Start */

div.sections-container {
  border: 2px solid green;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.left-section {
  border: 1px solid red;
  width: 600px;
  position: relative;
}
.right-section {
  border: 1px solid blue;
  text-align: right;
  flex-grow: 0;
  position: relative;
  width: 500px;
  height: 500px;
}
.left-section h1 {
  font-size: 50px;
  letter-spacing: 1px;
}
.left-section p {
  line-height: 20px;
}
button.getIn-touch a {
  text-decoration: none;
  color: #20283b;
  font-weight: bold;
  letter-spacing: 1px;
}
button {
  background-color: #00af80;
  padding: 10px;
  border-radius: 30px;
  width: 200px;
  border: none;
  cursor: pointer;
}

/* social media  */
div.social-media {
  margin-top: 50px;
}
div.social-media a img {
  width: 30px;
}
/* social media end */

.right-section img.your-image {
  object-fit: contain;
  width: 350px;
  height: 350px;
  position: relative;
  top: 80px;
  left: 100px;
  z-index: 1;
}
.right-section img.round-image {
  object-fit: contain;
  width: 140px;
  height: 200px;
  position: relative;
  top: -100px;
}

.right-section p {
  position: relative;
  top: -680px;
  right: 60px;
}
.right-section img.your-image-background {
  width: 350px;
  height: 430px;
  object-fit: contain;
  position: relative;
  top: -328px;
  right: 40px;
}

/* Other images */

img.image-upper {
  border: 1px solid red;
  position: absolute;
  width: 120px;
  top: 0;
  left: 0;
}
div img.image-upper-right {
  position: absolute;
  border: 1px solid red;
  width: 70px;
  top: 0;
  right: 0;
}
div img.image-right-line {
  position: absolute;
  height: 150px;
  right: 30px;
  top: 150px;
}

div.outer-image-left img {
  /* border: 2px solid red; */
  height: 150px;
  position: absolute;
  bottom: 90px;
  left: 0;
}

div.bottom-image img {
  height: 150px;
  position: absolute;
  bottom: 0px;
  left: 120px;
}
div.bottom-middle-image-1 img {
  position: absolute;
  height: 100px;
  width: 150px;
  border: 1px solid red;
  top: 400px;
  left: 250px;
}
div.bottom-middle-image-2 img {
  border: 1px solid red;
  position: absolute;
  width: 190px;
  height: 100px;
  left: 400px;
  bottom: -10px;
}
div.bottom-right-image img {
  border: 1px solid red;
  position: absolute;
  height: 300px;
  width: 170px;
  right: 0;
  bottom: 0;
}
/* MEDIA QUERIES */
/* @media (max-width: 479px) and (min-width: 320px) {
  .nav-bar {
    border: 1px solid black;
    flex-direction: column;
    align-items: center;
  }
  .left-section {
    order: 2;
  }
  .right-section {
    height: 300px;
    order: 1;
  }
  .nav-bar img.logo {
    width: 100px;
  }
  div.search-elips-wrapper i {
    display: none;
  }
  #search-bar::placeholder {
    text-align: center;
  }
  div.search-elips-wrapper input {
    width: 220px;
  }
  .nav-bar a {
    font-size: 12px;
    margin: 2px;
  }

  div.sections-container {
    width: 100%;

    flex-wrap: wrap;
    margin: 10px;
  }
  div img.image-upper {
    left: 20px;
    width: 70px;
    top: 460px;
  }
  .right-section img.your-image {
    position: relative;
    width: 200px;
    height: 200px;
    left: -90px;
  }
  .right-section img.your-image-background {
    position: relative;
    width: 300px;
    height: 200px;
    bottom: 115px;
    left: -30px;
  }
  .right-section p {
    position: relative;
    font-size: 12px;
    top: -310px;
    left: -40px;
  }
  .right-section img.round-image {
    left: 170px;
    width: 120px;
    height: 200px;
    top: 20px;
  }
}
div.bottom-right-image img {
  display: none;
}
div.outer-image-left img {
  display: none;
}
div.bottom-image img {
  display: none;
}
div img.image-right-line {
  display: none;
}
div.bottom-middle-image-1 img {
  display: none;
}
div.bottom-middle-image-2 img {
  display: none;
}
div img.image-upper-right {
  display: none;
} */
